{% extends "base.html" %}
{% load static %}
{% block title %} Tastesee Treasure-Add Menu{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static "main/css/index.css" %}">
{% endblock css %}
{% block content %} 
    <main>
        <section class='section'>
            <div class='container'>
                <form  enctype="multipart/form-data" class='add-menu-form' method='POST' >
                    {% csrf_token %}
                    {% if form.instance.title  %}
                        <h2>
                            Edit Recipe {{form.instance.title}}
                        </h2>
                    {% else %}
                        <h2>
                            Add New Recipe
                        </h2>
                    {% endif %}
                    {% for input in form %}
                        <p>
                            {% if input.name == "image" %}
                                {% if form.instance.image %}
                                    <img src="{{form.instance.image.url}}" alt="{{form.instance.title}}">
                                {% else %}
                                    <img src="{% static "main/images/no-pictures.png" %}" alt="no image" >
                                {% endif %}
                                <input type="file" name="image" id="image" class='field-file'>
                                <label for="image" class='field field-file-label'>Choose an Image</label>
                            {% elif input.name == 'description' %}
                                <div>
                                    <h3>
                                        Add Ingredients
                                    </h3>
                                    <div class='ingredients'>
                                        <button class='btn' id='add-ingredient' type='button'>
                                            +
                                        </button>
                                    </div>
                                </div>
                                {{input}}
                                
                            {% else %}
                                {{input}}
                            {% endif %}
                        </p>
                    {% endfor %}
                    <button class='btn loader'>
                        Save
                        <img src="{% static "main/images/loading.gif" %}" alt="loading">
                    </button>
                </form>
                
            </div>
        </section>
    </main>
{% endblock content %}
{% block js %}
    <script src='{% static "main/js/script.js" %}'>

    </script>
    <script src="{% static "js/script.js" %}"></script>
{% endblock js %}